---
import { AppConfig } from '@/config';
---

<nav class="p-8">
  <ul class="flex gap-4">
    <li><a href="/">Главная</a></li>
    <li><a href="/blog/">Блог</a></li>
    <!-- Показываем ссылку на новости только если они включены -->
    {AppConfig.features.news.enabled && <li><a href="/news/">Новости</a></li>}
  </ul>
</nav>