---
import PageLaout from '@/layouts/Page.astro';
import Footer from '@/components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
---

<PageLaout title="Welcome!">
	<p>This is index page.</p>
</PageLaout>

