---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// Используем алиасы из astro.config.mjs для согласованности
import PageLayout from '@/layouts/Page.astro';

const news = await getCollection('news');
---

<PageLayout title="News">
	<section>
		<ul>
			{
				news.map((item) => (
					<li>
						<a href={`/news/${item.id}`}>
							
							<h4 class="title">{item.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>