---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// Используем алиасы из astro.config.mjs для согласованности
import PageLayout from '@/layouts/Page.astro';

const news = (await getCollection('news')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout title="News">
	<section>
		<ul>
			{
				news.map((news) => (
					<li>
						<a href={`/news/${news.id}`}>
							
							<h4 class="title">{news.data.title}</h4>
							<p>{news.data.pubDate}</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>