---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { getCollection } from 'astro:content';

const news = await getCollection('news');

console.log('Загруженные новости:', news.map(n => n.id));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Новости</h1>
			<ul>
				{news.map((n) => (
					<li>
						<a href={`/news/${n.id ?? n.data.slug}`}>{n.data.title}</a>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>
